<!DOCTYPE html>
<html>
  <head>
    <title>人狼</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="htdocs/index.js"></script>
    <script type="text/javascript" src="htdocs/cmanCP_v091.js"></script>
    <link rel="stylesheet" href="htdocs/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi|M+PLUS+Rounded+1c:700" rel="stylesheet">
</head>
  <body>
    <div id="container">
      <div id="header"><%= title %></div>
      <div id="header2" style="display:none;"><%= title2 %></div>
      <canvas id="c1" width="50" height="50"></canvas>
      <form id="right" style="display:inline-block;">
        <div id="timer" style="display:inline-block;"><label id="time" style="display:inline-block;"></label></div>
        <div id="start_button" style="display:inline-block;"></div><br>
      </form>
        <form id="roomBtn">
            <input type="text" autocomplete="off" id="textbox1" value="" onkeypress="enterkey(event.keyCode);">
            <select name="fontSize" id="fontSize" class="circle h" style="width:60px;">
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
              <option value=6>6</option>
              <option value=7>7</option>
            </select>
            <input type="button" id="button1" class="circle h" value="発言">
            <input type="button" value="色" class="circle h" style="width: 40px;"
                     onclick="cmanCP_JS_open(this)"
                     cmanCPat="def_color:val=sample1,def_alpha:0,rc_text:sample1,rc_form:#16,rc_func:js_color">
            <input type="button" value="メモ帳" onclick="memo()">
            <input type="text" name="dummy" style="display:none;">    
        </form>
        <p id="chatNum">チャット日別：
            <label id="chatLabel0" class="chatRadio" style="display:inline-block">
              <input type="radio" id="chatDay0" name="chatRadio" value="0" checked="checked" onclick="chatclick()">0日目
            </label>
          <label id="chatLabel1" class="chatRadio" style="display:none">
            <input type="radio" id="chatDay1" name="chatRadio" value="1" onclick="chatclick()">1日目
          </label>
          <label id="chatLabel2" class="chatRadio" style="display:none">
            <input type="radio" id="chatDay2" name="chatRadio" value="2" onclick="chatclick()" >2日目
          </label>
          <label id="chatLabel3" class="chatRadio" style="display:none">
            <input type="radio" id="chatDay3" name="chatRadio" value="3" onclick="chatclick()" >3日目
          </label>
          <label id="chatLabel4" class="chatRadio" style="display:none">
            <input type="radio" id="chatDay4" name="chatRadio" value="4" onclick="chatclick()" >4日目
          </label>
          <label id="chatLabel5" class="chatRadio" style="display:none">
            <input type="radio" id="chatDay5" name="chatRadio" value="5" onclick="chatclick()" >5日目
          </label>
          <label id="chatLabel6" class="chatRadio" style="display:none">
            <input type="radio" id="chatDay6" name="chatRadio" value="6" onclick="chatclick()" >6日目
          </label>
          <label id="chatLabel7" class="chatRadio" style="display:none">
            <input type="radio" id="chatDay7" name="chatRadio" value="7" onclick="chatclick()" >7日目
          </label>
          <label id="chatLabel8" class="chatRadio" style="display:none">
            <input type="radio" id="chatDay8" name="chatRadio" value="8" onclick="chatclick()" >8日目
          </label>
        </p>
        <div id="main2">
          <div id="mainB">
            <div id="main">
                <table id="table0" class="table" style="display:block;"></table>
                <table id="table1" class="table" style="display:none;"></table>
                <table id="table2" class="table" style="display:none;"></table>
                <table id="table3" class="table" style="display:none;"></table>
                <table id="table4" class="table" style="display:none;"></table>
                <table id="table5" class="table" style="display:none;"></table>
                <table id="table6" class="table" style="display:none;"></table>
                <table id="table7" class="table" style="display:none;"></table>
                <table id="table8" class="table" style="display:none;"></table>
                <div class="poptext" id="poptext1" style="display:none"><span id="text"></span></div>      
            </div>
          </div>
        </div>
        <div id="subB">
          <div id="sub">
              <div id="yaku"></div>
            <table id="sidebar"></table>
          </div>      
        </div>
        <form id="voteBtn">
          <p id="roomNum">投票結果：
            <label id="voteLabel1" class="voteRadio" style="display:none">
              <input type="radio" id="voteDay1" name="voteRadio" value="1" checked="checked" onclick="vdclick()">1日目
            </label>
            <label id="voteLabel2" class="voteRadio" style="display:none">
              <input type="radio" id="voteDay2" name="voteRadio" value="2" onclick="vdclick()" >2日目
            </label>
            <label id="voteLabel3" class="voteRadio" style="display:none">
              <input type="radio" id="voteDay3" name="voteRadio" value="3" onclick="vdclick()" >3日目
            </label>
            <label id="voteLabel4" class="voteRadio" style="display:none">
              <input type="radio" id="voteDay4" name="voteRadio" value="4" onclick="vdclick()" >4日目
            </label>
            <label id="voteLabel5" class="voteRadio" style="display:none">
              <input type="radio" id="voteDay5" name="voteRadio" value="5" onclick="vdclick()" >5日目
            </label>
            <label id="voteLabel6" class="voteRadio" style="display:none">
              <input type="radio" id="voteDay6" name="voteRadio" value="6" onclick="vdclick()" >6日目
            </label>
            <label id="voteLabel7" class="voteRadio" style="display:none">
              <input type="radio" id="voteDay7" name="voteRadio" value="7" onclick="vdclick()" >7日目
            </label>
            <label id="voteLabel8" class="voteRadio" style="display:none">
              <input type="radio" id="voteDay8" name="voteRadio" value="8" onclick="vdclick()" >8日目
            </label>
          </p>
          <div id="votex">
            <div id="voteR1"></div>
            <div id="voteR2"></div>
            <div id="voteR3"></div>
            <div id="voteR4"></div>
            <div id="voteR5"></div>
            <div id="voteR6"></div>
            <div id="voteR7"></div>
            <div id="voteR8"></div>
          </div>
        </form>
        <div id="ability0">システムログ：<br>
          <div id="ability1">
            <table id="ability2"></table>
          </div>
        </div>

        <button id="openModal">投票</button>
        <!-- モーダルエリアここから -->
        <section id="modalArea" class="modalArea">
          <div id="modalBg" class="modalBg"></div>
          <div class="modalWrapper">
            <div class="modalContents">
              <div id="vote"></div>
            </div>
            <div id="closeModal" class="closeModal">
              ×
            </div>
          </div>
        </section>
        <!-- モーダルエリアここまで -->
        <script>
          (function () {
            const modalArea = document.getElementById('modalArea');
            const openModal = document.getElementById('openModal');
            const closeModal = document.getElementById('closeModal');
            const modalBg = document.getElementById('modalBg');
            const toggle = [openModal,closeModal,modalBg];
  
            for (let i=0, len=toggle.length ; i<len ; i++) {
              toggle[i].addEventListener('click',function(){
               modalArea.classList.toggle('is-show');
            },false);
          }
        }());</script> 
      </div>
    </div>
  </body>
</html>