<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ここがタイトルだよ</title>
<style>
/*ここにCSSを書くよ*/
</style>
<script>
/*ここにJavascriptを書くよ*/
</script>
</head>
<body>

    <form action="/index2" method="post">
        <label for="name">名前：</label>
        <input type="text" name="name" id="name">
        <label for="pass">パスワード：</label>
        <input type="password" name="pass" id="pass">
        <input type="submit" value="入室する">
    </form>

    <form action="/index" method="post">
        <label for="name3">名前：</label>
        <input type="text" name="name3" id="name3">
        <label for="pass">パスワード：</label>
        <input type="password" name="pass2" id="pass2">
        <input type="submit" value="登録する">
    </form>

<!-- ここに内容を書くよ -->

</body>
</html>